:root {
    --captions_width: 580px;
}

.captions_table_wrapper {
    height: 303px;
    overflow: auto;
    margin-top: 15px;
    border: 1px solid #CCC;
    border-spacing: 0px;
}
.caption_header {
    position: sticky;
    top: 0;
    background: var(--primary_bg_color);
    color: white;
    padding: 11px 0px;
}
.add_caption {
    cursor: pointer;
    border-radius: 50%;
    height: 20px;
    width: auto;
    background-color: var(--primary_color);
    color: var(--left_menu_bg_color);
    transition: .1s;
    color: #e5efe6;
}
.add_caption:hover {
    outline: 2px solid white;
}
.caption_data_row {
    overflow-y: scroll;
    overflow-x: hidden;
}
.caption_data {
    cursor: pointer;
}
.caption_disabled {
    opacity: .4;
}
.caption_hover:hover {
    background-color: #f0f0f0;
}
.caption_cell {
    padding: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 250px;
    margin: auto;
    display: table-cell;
}