* {
    margin: 0;
    box-sizing: border-box;
    font-family: Roboto, "DejaVu Sans Condensed", "Helvetica Neue",
                 Helvetica, Arial, sans-serif,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen
                 ,Ubuntu,Fira Sans,Droid Sans,Helvetica Neue,sans-serif
}

/*
    Green Color Palettes
    #618264 -> lv4
    #79AC78 -> lv3
    #B0D9B1 -> lv2
    #D0E7D2 -> lv1
*/
:root {
    --Dashboard_margin_left: 18%
}

.Dashboard {
    /* Additional effects*/
}
.Dashboard-wrapper {
    min-height: 93vh;
    display: flex;
}
/* Routes Outlet */
.Dashboard-Body {
    width: 100%;
    background: #e5efe6;
}
.Dashboard-content {
    transition: .3s;
    z-index: 0;
    margin-left: var(--Dashboard_margin_left);
}

@media only screen and (max-width: 1120px) {
  .Dashboard-content {
     margin-left: 0px;
  }
}