:root {
    --border_r_five_px: 5px;
}

.project_form_module {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    background-color: white;
    border-radius: 10px;
    margin-top: 10px;
}
.back_btn {
    padding: 10px;
    transition: .3s;
    border-radius: 50%;
    cursor: pointer;
    display: inline;
}
.back_btn:hover {
    background-color: #CCC;
    outline: 1px solid grey;
}
.project_form_container {
    width: 100%;
    margin-left: 92px;
}

.hov_formik_container{
    width: calc(100% - 30%);
    padding: 20px 0px;
}
.project_form {
    border-radius: var(--border_r_five_px);
    background-color: white;
}
.project_form_title {
    border-bottom: 1px solid black;
    padding: 10px 0px;
    font-size: 1.4rem;
}
.project_form_formik {
    display: table;
}
.field {
    margin-top: 5px;
    padding: 8px;
    font-size: 1rem;
    border: 1px solid black;
    border-radius: 5px;
}
textarea.field {
    max-width: 580px;
}
.field:focus, .field:active {
    border: 1px solid blue;
    outline: 1px solid blue;
}
.field_dropdown {
    padding: 4px;
    border-radius: var(--border_r_five_px);
    min-width: 100px;
    max-width: 300px;
    font-size: .9rem;
}
.required_field:after {
    content: '*';
    color: red;
    margin-left: 4px;
}
.project_form_actions {
    border-top: 1px solid black;
    display: flex;
    padding-top: 10px;
}
.profile_label {
    width: 150px;
    height: 150px;
    text-align: center;
    background: linear-gradient(to bottom, #CCC, transparent);
}
.profile_label > div {
    color: #484848;
    margin-top: 40%;
}
.preview {
    background: cover;
    width: 100%;
    height: 100%;
}
.full_lengthField {
}
fieldset {
    outline: none;
    border: none;
    padding: 5px 0px;
    display: flex;
    flex-direction: column;
}
fieldset > label {
   font-weight: bold;
   font-size: .9rem;
}
.fitContent {
    width: fit-content;
}
.root_path_field {
    font-size: 1rem;
    padding: 3px;
    cursor: auto; /* overriding cursor style overrideInputH css style in helper */
    width: 100% !important;
}
.widthMax {
    width: 100%;
}