/* List Row Related Styles */
.data_container {
    cursor: pointer;
    z-index: 1
}

/* The combination of position and box-shadow makes a highlight hover effect */
.data_container:hover {
    position: relative;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.08),
            0px 24px 80px rgba(0, 0, 0, 0.16);
}
.listRow {
    width: 100%;
    display: table-row;
    border-collapse: collapse;
    background-color: white;
}
.listRow > div {
    display: table-cell;
    vertical-align: middle;
    padding: 20px 0px;
}
.listRow > div:first-child {
    vertical-align: top;
    padding: 20px 15px;
    width: 10px;
    border-radius: var(--row_border_radius) 0 0 var(--row_border_radius);
}
.listRow > div:last-child {
    border-radius: 0 var(--row_border_radius) var(--row_border_radius) 0;
}