
/* Search in header styles */
/* --search_bar_color is coming from DashboardHelper.css */
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.title {
    font-size: 1.8rem;
    font-weight: 500;
}
.search_bar {
    border: 1px solid var(--search_bar_color);
    border-radius: 5px;
    background-color: var(--search_bar_color);
    padding-left: 10px;
    transition: .2s;
    min-width: calc(100% - 70%);
}
.search_input {
    padding: 10px;
    border: none;
    background-color: var(--search_bar_color);
    margin-left: 10px;
    font-size: 1rem;
    width: 100%;
}
