/* Additional Features */
.additional_features {
    width: 100%;
}
.features_nav_container {
    border-bottom: 1px solid #CCC;
}
.association_list{
    margin-top: 10px
}
.features_nav {
    color: black;
    padding: 8px 15px;
    cursor: pointer;
    transition: .3s;
}
.selected_feature_nav {
    border-bottom: 4px solid var(--primary_color);
}
.disabled_btn {
    visibility: hidden;
}