:root {
    --border_r_five_px: 5px;
    --form_background_color: white;
    --form_padding:  0 30px;
}

.project_form_module {
    border-radius: 5px;
}
.project_form_container {
    width: 100%;
}
.hov_formik_container{
    background-color: var(--form_background_color);
    padding: 10px 30px;
}
.add_project_title {
    font-size: 1.5rem;
    padding: 10px 0px 10px 30px;
    font-weight: 800;
    border-bottom: 1px solid #CCC;
}
.project_details {
    padding: var(--form_padding);
    position: relative;
    width: calc(100% - 27%);
}
/* --------------------------- */
.field_dropdown {
    border-radius: var(--border_r_five_px);
    width: 100%;
    font-size: .9rem;
}
.project_form_actions {
    border-top: 1px solid black;
    display: flex;
    padding-top: 10px;
}
.fitContent {
    width: fit-content;
}
.description_textarea {
    font-size: .9rem;
    max-width: 400px;
}

.form_actions {
    margin: 20px 0 0 0;
    padding: 10px 30px;
    border-top: 1px solid #CCC;
}