:root {
    --border_r_five_px: 5px;
    --form_background_color: white;
    --form_padding:  0 30px;
}

.project_header {
    background-color: var(--form_background_color);
    padding: 10px 30px;
    width: 100%;
    box-shadow: 0 0 6px #CCC;
    /*position: sticky;
    top: 46px;*/
}
.form_group {
    background-color: white;
    border-radius: 5px;
    padding: 20px 10px;
    width: 49.2%;
    box-shadow: 0 3px 5px #CCC;
}
@media only screen and (max-width: 1120px) {
  .form_group {
     width: 48%;
  }
}
.basic_info_container {
    float: left;
}
.advance_info_container {
    margin-left: 10px;
    float: right;
}
.additional_features_container {
    padding: 20px;
    margin: 10px 0 0 10px;
    float: right;
}
.subtitle {
    font-weight: 500;
    font-size: 1.2rem;
    color: #929292;
    margin-left: 10px
}
.form_contents {
    margin: 10px;
}
.description_textarea {
    font-size: .9rem;
    resize: vertical;
}
