.container {
    display: inline;
    padding: 0px 10px;
}
.thumbnail {
    height: 2em;
    width: 2em;
    border-radius: 50%;
    background-color: lightGreen;
    display:flex;
    align-items: center;
    justify-content: space-around;
    cursor: pointer;
}
.nail {
    color: black;
}