:root {
    --primary_color: #80e580;
    --primary_hover_color: rgb(60 64 66 / 0.08);
    --primary_color_hover: #8ed38e;
    --dashboard_primary_color: white;
    --search_bar_color: #f1f1f1;
    --dashboard_secondary_color: white;
    --dashboard_action_color: #80e580;
    --dashboard_hover_color: #c7e5c7;
}

/* Helper Styles, Be aware if u change this
   Note: all the css are ends with H to indicate this style
         comes from DB helper.css
   Star: &#11088;
*/
.containerH {
    padding: .6vmin;
    padding-top: 10px;
}
.pFiveH {
    padding: 5px;
}
.ptenH {
    padding: 10px;
}
.pOneFiveH {
    padding: 15px;
}
.textSmallGreyH {
    font-size: small;
    padding-left: 4px;
    color: #5c5c5c;
}

/* Margin Relate styles */
.m10H {
    margin: 10px;
}
.m20H {
    margin: 10px;
}
.ml5H{
    margin-left: 5px;
}
.ml10H {
    margin-left: 10px;
}
.ml20H {
    margin-left: 20px;
}
.mr10H {
    margin-right: 10px;
}
.mt20H {
    margin-top: 20px;
}
.mr20H {
    margin-right: 20px;
}
.mb10H {
    margin-bottom: 10px;
}
.mrlt2H {
    margin-right: 2px;
    margin-left: 2px;
    margin-top: 2px;
}
.mt10H {
    margin-top: 10px;
}
.forceFlexH {
    display: flex !important;
}
.flexAlignCenterH {
    display: flex;
    align-items: center;
}
.flexAlignStartH {
    display: flex;
    align-items: flex-start;
}
.spaceBetweenH {
    justify-content: space-between;
}
.spaceAroundH {
    justify-content: space-around;
}
.displayTableH {
    display: table;
    border-spacing: 0px 5px; /* this will separate the rows in table */
    width: 100%;
}
.tableWidthMaxH {
    width: 100%;
}
.tableCaptionH {
    display: table-caption;
}
.tableRowH {
    display: table-row;
}
.tableCellH {
    display: table-cell
}
.cursorPointerH {
    cursor: pointer;
}
.overrideInputH {
    border:none;
    background: transparent;
    padding: 5px;
    cursor: pointer;
}
.overrideInputH:focus {
    outline: none
}
.overrideButtonH {
    border: none;
    background: transparent;
}
.userSelectNoneH {
    user-select: none;
}
.trans3sH {
    transition: .3s;
}
.inlineBlockH {
    display: inline-block;
}
.widthMaxH {
    width: 100%;
}
.widthHalfH {
    width: 50%;
}
.widthFullH {
    width: 100%;
}

/* Button Actions style*/
.success_btnH, .secondary_btnH {
    padding: 10px;
    border-radius: 5px;
    color: black;
    background-color: #2ea44f;
    cursor: pointer;
    transition: .2s;
    color: white !important;
    font-weight: 500;
    border: none;
}
.success_btnH:hover {
    background-color: #1e8449;
    transform: translateY(0);
    transition-duration: .35s;
}
.success_btnH:hover, .secondary_btnH:hover {
  box-shadow: rgba(39, 174, 96, .2) 0 6px 12px;
}
.secondary_btnH {
    background-color: #ebebebab;
    border-color: grey;
    color: grey !important;
}
.secondary_btnH:hover {
    background-color: #dbdbdb;
}

/* text related styles */
.textBottomH {
    vertical-align: bottom;
}
.textHoverUnderlineH:hover {
    text-decoration: underline;
}
.textSmallH {
    font-size: small;
    vertical-align: top;
}
.textSmallBold {
    font-size: small;
    font-weight: bold;
    vertical-align: top;
}
.textBoldH {
    font-weight: bold;
}
.verticalTopH {
    vertical-align: top;
}

/* Icons Actions */
.iconActionH {
    transition: .3s;
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid black;
    background-color: var(--dashboard_secondary_color);
}
.iconActionH:hover {
    background-color: var(--primary_color_hover);
    font-weight: bold;
}

/* others */
.pointerNone {
    pointer-events: none;
}
.overrideLinkH {
    color: currentColor; /*this currentColor is a variable which contains current clr value...*/
    text-decoration: none;
}
/* Tag Styles */
code {
    background-color: #dedede;
    font-family: monospace;
    display: inline-block;
    padding: 2px;
    border-radius: 2px;
}