:root {
    --row_border_radius: 5px;
}

.project_container {
    padding: 10px;

    /* IF need additional side effects,, */
}
.projects_count {
    font-weight: bold;
    color: #969696;
    font-family: BlinkMacSystemFont,Segoe UI,Roboto,Oxygen
                  ,Ubuntu,Fira Sans,Droid Sans,Helvetica Neue,sans-serif !important;
}
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.title {
    font-size: 1.8rem;
    font-weight: 500;
    font-family: BlinkMacSystemFont,Segoe UI,Roboto,Oxygen
                  ,Ubuntu,Fira Sans,Droid Sans,Helvetica Neue,sans-serif !important;
}

/* Collection of projects styles */
.collection {
    margin-top: 15px;
}
.list_header {
    width: 100%;
    word-break: break-word;
}
.list_header > th {
    font-size: small;
    text-align: left;
    padding-top: 10px;
}
.noDataContent {
    margin: 40px auto;
    width: fit-content;
    opacity: .6;
}