:root {
    --row_border_radius: 5px;
}

.project_container {
    padding: 10px;
    /* IF need additional side effects,, */
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.title {
    font-size: 1.8rem;
    font-weight: 500;
}

/* Collection of projects styles */
.collection {
    margin-top: 15px;
}
.list_header {
    width: 100%;
}
.list_header > th {
    font-size: small;
    text-align: left;
    padding-top: 10px;
}
