.dialog_container:active .dialog {
    /* need to implement box width inc dec animation*/
}
.bg_blur {
    z-index: 10;
    opacity: .4;
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background-color: #CCC;
}
.dialog_container_blur:active .dialog {
    background-color: green;
}
.dialog {
    z-index: 11;
    position: fixed;
    width: fit-content;
    background-color: white;
    border: 2px solid #CCC;
    border-radius: 10px;
    padding: 20px;
    left: 0;
    right: 0;
    margin: auto;
    width: 40%;
}
.dialog_header {
    display: flex;
    justify-content: space-between;
}
.dialog_cancel_btn {
    cursor: pointer;
    padding: 6px;
    height: 30px;
    width: 30px;
    border-radius: 50%;
}
.dialog_cancel_btn:hover {
    background: var(--primary_hover_color);
}
.dialog_title {
    font-weight: 600;
    font-size: 1.5rem;
}
