.visualizer_module {
    margin-top: 10px;
    background-color: white;
    height: calc(100% - 9%);
}
.visualizer_container {

}
.multiple_tabs_container {
    display: flex;
    border: .8px solid #CCC;
    border: .8px solid #CCC;
    background-color: var(--dashboard_secondary_color)
}
.tab {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: fit-content;
    padding: 6px;
    font-size: .9rem;
    cursor: pointer;
}
.selected_tab {
    border-bottom: 3px solid blue;
    background-color: white;
}
.tab:hover {
    background-color: #CCC;
}
.close_tab:hover {
    background: #CCC;
    border-radius: 50%;
}