/* DB left Menu */
:root {
    --left_menu_bg_color: #121212c4;
}

.dashboard_leftMenu {
    width: calc(100% - 78%);
    background-color: #333333;
    color: white;
    display: block;
}

/* nav Links styles */
.navBar {
    display: flex;
    align-items: center;
    cursor: pointer;
    margin: 5px 0px;
    transition: .2s;
    color: #bebebe;
    padding: 8px 15px;
    border-left: 5px solid transparent;
}
.navBar_hover:hover {
    background-color: #222222;
}
.selectedNavBar {
    background-color: #222222;
    color: #77d98d;
    border-left: 5px solid #77d98d;
}
.navBar_name {
    margin-left: 12px;
}
.dashboard_leftMenu {
    display: block;
}

@media only screen and (max-width: 1120px) {
  .dashboard_leftMenu {
     display: none;
  }
}