:root {
    --priority_hover_color: #f3f3f3;
}

.priority_dropdown {
    position: relative;
}
.priority_selected {
    border-radius: 5px;
    border: 1px solid #CCC;
    padding: 8px;
    margin-top: 5px;
    cursor: pointer;
    word-break: break-all;
}
.priority_selected_content {
    width: 90%;
}
.priority_selected:hover, .priority_selected:focus{
    border-style: double;
    background-color: var(--priority_hover_color);
}
.priorities {
    border: 1px solid #CCC;
    border-radius: 4px;
    background: white;
    z-index: 1;
    margin-top: 2px;
    position: absolute;
    width: 100%;
}
.priority {
    cursor: pointer;
    padding: 10px;
}
.selected_priority {
    padding: 10px;
    background-color: #dbdbdb;
}
.priority:hover {
    background-color: var(--priority_hover_color);
}
.priority_name {
    margin-left: 10px;
    font-size: .9rem;
    font-weight: 500;
}

