.profile_label {
    width: 150px;
    height: 150px;
    text-align: center;
    background: #CCC;
}
.profile_label > div {
    color: #484848;
    margin-top: 40%;
}
.preview {
    background: cover;
    width: 127px;
    height: 132px;
    border: 1px solid Grey;
}
.profile_edit {
    border: 1px solid #CCC;
    margin: 5px;
    border-radius: 5px;
    background-color: white;
    width: fit-content;
    margin-top: 11%;
    margin-left: 11%;
    cursor: pointer !important;
}
.profile_edit:hover {
    color: red;
}
.edit_dropdown {
    display: none;
}