.visualizer_module {
    background-color: white;
}
.visualizer_container {

}
.multiple_tabs_container {
    display: flex;
    border: .8px solid #CCC;
    background-color: var(--dashboard_secondary_color)
}