.field_dropdown {
    padding: 4px;
    border-radius: var(--border_r_five_px);
    min-width: 100px;
    max-width: 300px;
    font-size: .9rem;
}
.fieldset {
    outline: none;
    border: none;
    padding: 5px 0px;
    display: flex;
    flex-direction: column;
}
.fieldset_label {
    font-weight: bold;
    font-size: .9rem;
}
.field {
    margin-top: 5px;
    padding: 8px;
    font-size: 1rem;
    border: 1px solid black;
    border-radius: 5px;
}
.field:focus, .field:active {
    border: 1px solid blue;
    outline: 1px solid blue;
}
.required_field:after {
    content: '*';
    color: red;
    margin-left: 4px;
}