:root {
    --field_text_color: #2b2d38
}

.field_dropdown {
    padding: 4px;
    border-radius: var(--border_r_five_px);
    min-width: 100px;
    max-width: 300px;
    font-size: .9rem;
}
.fieldset {
    outline: none;
    border: none;
    padding: 5px 0px;
    display: flex;
    flex-direction: column;
}
.fieldset_label {
    font-weight: bold;
    font-size: .9rem;
    color: grey;
}
.field {
    width: 100%;
    border: 1px solid #CCC;
    border-radius: 5px;
    padding: 7px 10px;
    color: #2b2d38;
    font-size: 1rem;
    background: white;
    transition: border .2s ease-in;
    margin-top: 5px;
}
.field:focus-visible {
    outline: 2px solid #99C2FF;
}
.field:focus, .field:active {
    border-color: #8888ff;
}
.required_field:after {
    content: '*';
    color: red;
    margin-left: 4px;
}