:root {
    --border_r_five_px: 5px;
    --form_background_color: white;
    --form_padding:  0 30px;
}

.project_form_module {
    border-radius: 5px;
}
.back_btn {
    padding: 10px;
    transition: .3s;
    border-radius: 50%;
    cursor: pointer;
    display: inline;
}
.back_btn:hover {
    background-color: #CCC;
    outline: 1px solid grey;
}
.project_form_container {
    width: 100%;
}
.hov_formik_container{
    background-color: var(--form_background_color);
    border-radius: 5px;
    padding: var(--form_padding);
    padding: 10px 30px;
}
.add_project_title {
    font-size: 1.5rem;
    padding: 10px 30px;
}
.project_details {
    padding: 0px 30px;
    width: 50%;
    position: relative;
}
/* --------------------------- */
.field_dropdown {
    border-radius: var(--border_r_five_px);
    width: 100%;
    font-size: .9rem;
}
.project_form_actions {
    border-top: 1px solid black;
    display: flex;
    padding-top: 10px;
}
.fitContent {
    width: fit-content;
}
.description_textarea {
    font-size: .9rem;
}