/* DB left Menu */
:root {
    --left_menu_bg_color: #121212c4;
    --primary_color: #80e580;
}

.dashboard_leftMenu {
    width: calc(100% - 80%);
    text-decoration: uppercase;
    background-color: var(--left_menu_bg_color);
    color: white;
}
/* Header styles */
.header_logo {
    padding: 10px;
    display: flex;
}

/* nav Links styles */
.leftMenu_navLinks {
    margin: 30px 0px;
}
.navBar {
    display: flex;
    align-items: center;
    cursor: pointer;
    margin: 5px 0px;
    border-radius: 4px;
}
.navBar_hover:hover {
    background-color: #c7e5c7;
    color: black;
}
.selectedNavBar {
    background-color: #80e580;
    color: black;
}
.navBar {
    padding: 8px;
}
.navBar_name {
    margin-left: 12px;
}
.overrideLink {
    color: currentColor; /*this currentColor is a variable which contains current clr value...*/
    text-decoration: none;
}