/* DB left Menu */
:root {
    --left_menu_bg_color: #121212c4;
}

.dashboard_leftMenu {
    width: calc(100% - 80%);
    text-decoration: uppercase;
    background-color: var(--left_menu_bg_color);
    color: white;
}
/* Header styles */
.header_logo {
    padding: 5px 10px;
    display: flex;
}
.left_menu_header {
    vertical-align: top;
}

/* nav Links styles */
.leftMenu_navLinks {
    margin: 30px 0px;
}
.navBar {
    display: flex;
    align-items: center;
    cursor: pointer;
    margin: 5px 0px;
    border-radius: 4px;
}
.navBar_hover:hover {
    background-color: #c7e5c7;
    color: black;
}
.selectedNavBar {
    background-color: var(--primary_color);
    color: black;
}
.navBar {
    padding: 8px;
}
.navBar_name {
    margin-left: 12px;
}