.tab_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 3px solid transparent;
}
.tab_container:hover {
    background-color: #CCC;
}
.tab {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: fit-content;
    padding: 6px;
    font-size: .9rem;
    cursor: alias;
}
.align_tab_title {
    padding-left: 5px;
    padding-right: 14px;
}
.selected_tab {
    border-bottom: 3px solid blue;
    background-color: white;
}
.close_tab {
    margin-right: 6px;
    cursor: pointer;
    height: fit-content;
}
.close_tab:hover {
    background: #a4a4a4;
    border-radius: 50%;
}